<app-nav2></app-nav2>

<header class="ex-header">
      <div class="col-xl-10 offset-xl-1">
        <h1 class="text-center">Demandes</h1>
      </div> <!-- end of col -->

</header> <!-- end of ex-header -->
<!-- end of header -->



<div id="clubs" class="cards-2 bg-gray" >
  <div class="contaiiner" >
<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <div class="tile-progress tile-green">
        <div class="tile-header">
          <h3>Nuit de l'info</h3>
          <span>Acceptée</span>
        </div>
        <div class="tile-progressbar">
          <span data-fill="94%" style="width: 94%;"></span>
        </div>
        <div class="tile-footer">
          <h4>
            <span class="pct-counter">Publié</span>
          </h4>
          <span>03/12/2021</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="tile-progress tile-orange">
        <div class="tile-header">
          <h3>Formation Spring Boot</h3>
          <span>En cours</span>
        </div>
        <div class="tile-progressbar">
          <span data-fill="94%" style="width: 94%;"></span>
        </div>
        <div class="tile-footer">
          <h4>
            <span class="pct-counter">En cours</span>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-sm-3">
        <div class="tile-progress tile-green">
          <div class="tile-header">
            <h3>Gaming 2D</h3>
            <span>Accepté</span>
          </div>
          <div class="tile-progressbar">
            <span data-fill="94%" style="width: 94%;"></span>
          </div>
          <div class="tile-footer">
            <h4>
              <span class="pct-counter">Publié</span>
            </h4>
            <span>22/03/2021</span>
          </div>
        </div>
      </div>
    </div>
  <div class="row">

    <div class="col-sm-3">
      <div class="tile-progress tile-red">
        <div class="tile-header">
          <h3 class="event-title">Workshop</h3>
          <span>Rejet</span>
        </div>
        <div class="tile-progressbar">
          <span data-fill="23.2%" style="width: 23.2%;"></span>
        </div>
        <div class="tile-footer">
          <h4>
            <span class="pct-counter">Motif Rejet</span>
          </h4>
          <span>Amphi indisponible</span>
        </div>
      </div>
    </div>
  </div>


  </div>
</div>
  </div>

