<!-- Details 1 -->
<div id="details" class="basic-1 bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-5">
        <div class="text-container">
          <h2>VERMEG / EPI Intership Program</h2>
          <p>Many students work during college, but coordinating your job with your class schedule can be tricky. Luckily, students
          who earn money through the Federal Work-Study program may find that their jobs are convenient (often right on campus)
          and accommodating of their academic demands. Plus, whether they’re serving their school community by helping out at the
          library, or assisting a professor with important research, these students are gaining valuable experiences.</p>
        </div> <!-- end of text-container -->
      </div> <!-- end of col -->
      <div class="col-lg-6 col-xl-7">
        <div class="image-container">
          <img class="img-fluid" src="assets/images/V050-scaled.jpg" alt="alternative">
        </div> <!-- end of image-container -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->

