<div id="events" class="cards-2 bg-gray">
  <div class="contaiiner">
    <div class="row ">
      <div class="col-md-4 d-flex justify-content-center margin-top">
        <div class="eventcard">
          <div class="eventcard-wrapper">
            <div class="eventcard-item">
              <figure class="eventcard-image">
                <img src="assets/images/Vermeg.png" alt="...">
              </figure>
              <a class="eventcard-content"
                 href="https://www.vermeg.com/">
                <span class="eventcard-tags">View Product</span>
                <h2 class="eventcard-title">Colline</h2>
                <footer class="eventcard-footer">
                  <div class="eventcard-user">
                    <figure class="eventcard-user-img">
                      <img src="assets/images/Vermeg.png" alt="...">
                    </figure>
                    <span class="eventcard-user-name">VERMEG</span>
                  </div>
                  <time class="eventcard-time">
                    <svg class="icon icon-time">
                      <use xlink:href="#icon-time"></use>
                    </svg>
                    May 23, 2022
                  </time>
                  <span class="eventcard-comment">
							<svg class="icon icon-comment">
								<use xlink:href="#icon-comment"></use>
							</svg>
							Sousse
						</span>
                </footer>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center margin-top">
        <div class="eventcard">
          <div class="eventcard-wrapper">
            <div class="eventcard-item">
              <figure class="eventcard-image">
                <img src="assets/images/Vermeg.png" alt="...">
              </figure>
              <a class="eventcard-content"
                 href="https://www.vermeg.com/">
                <span class="eventcard-tags">View Product</span>
                <h2 class="eventcard-title">ECMS</h2>
                <footer class="eventcard-footer">
                  <div class="eventcard-user">
                    <figure class="eventcard-user-img">
                      <img src="assets/images/Vermeg.png" alt="...">
                    </figure>
                    <span class="eventcard-user-name">VERMEG</span>
                  </div>
                  <time class="eventcard-time">
                    <svg class="icon icon-time">
                      <use xlink:href="#icon-time"></use>
                    </svg>
                    May 23, 2022
                  </time>
                  <span class="eventcard-comment">
							<svg class="icon icon-comment">
								<use xlink:href="#icon-comment"></use>
							</svg>
							Sousse
						</span>
                </footer>
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 d-flex justify-content-center margin-top">
        <div class="eventcard">
          <div class="eventcard-wrapper">
            <div class="eventcard-item">
              <figure class="eventcard-image">
                <img src="assets/images/Vermeg.png" alt="...">
              </figure>
              <a class="eventcard-content"
                 data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <span class="eventcard-tags">View Product</span>
                <h2 class="eventcard-title">Fluid</h2>
                <footer class="eventcard-footer">
                  <div class="eventcard-user">
                    <figure class="eventcard-user-img">
                      <img src="assets/images/Vermeg.png" alt="...">
                    </figure>
                    <span class="eventcard-user-name">VERMEG</span>
                  </div>
                  <time class="eventcard-time">
                    <svg class="icon icon-time">
                      <use xlink:href="#icon-time"></use>
                    </svg>
                    May 23, 2022
                  </time>
                  <span class="eventcard-comment">
							<svg class="icon icon-comment">
								<use xlink:href="#icon-comment"></use>
							</svg>
							Sousse
						</span>
                </footer>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center margin-top">
        <div class="eventcard">
          <div class="eventcard-wrapper">
            <div class="eventcard-item">
              <figure class="eventcard-image">
                <img src="assets/images/Vermeg.png" alt="...">
              </figure>
              <a class="eventcard-content"
                 data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <span class="eventcard-tags">View Product</span>
                <h2 class="eventcard-title">DFMS</h2>
                <footer class="eventcard-footer">
                  <div class="eventcard-user">
                    <figure class="eventcard-user-img">
                      <img src="assets/images/Vermeg.png" alt="...">
                    </figure>
                    <span class="eventcard-user-name">VERMEG</span>
                  </div>
                  <time class="eventcard-time">
                    <svg class="icon icon-time">
                      <use xlink:href="#icon-time"></use>
                    </svg>
                    May 23, 2022
                  </time>
                  <span class="eventcard-comment">
							<svg class="icon icon-comment">
								<use xlink:href="#icon-comment"></use>
							</svg>
							Sousse
						</span>
                </footer>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-comment" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
    </symbol>

    <symbol id="icon-time" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path
        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm1-8h4v2h-6V7h2v5z"/>
    </symbol>
  </defs>
</svg>

<!-- Details Modal -->
<div id="staticBackdrop" class="modal fade " tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="col-lg-8">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/details-modal.jpg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
        <div class="col-lg-4">
          <h3>Goals Setting</h3>
          <hr>
          <p>In gravida at nunc sodales pretium. Vivamus semper, odio vitae mattis auctor, elit elit semper magna ac tum nico vela spider</p>
          <h4>User Feedback</h4>
          <p>Sapien vitae eros. Praesent ut erat a tellus posuere nisi more thico cursus pharetra finibus posuere nisi. Vivamus feugiat</p>
          <ul class="list-unstyled li-space-lg">
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Tincidunt sem vel brita bet mala</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Sapien condimentum sacoz sil necr</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Fusce interdum nec ravon fro urna</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Integer pulvinar biolot bat tortor</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Id ultricies fringilla fangor raq trinit</div>
            </li>
          </ul>
          <a id="modalCtaBtn" class="btn-solid-reg" href="#your-link">Details</a>
          <button type="button" class="btn-outline-reg" data-bs-dismiss="modal">Close</button>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal -->
<!-- end of details modal -->
