



<!-- Basic -->
<div class="ex-form-1 pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 offset-xl-3">
        <div class="text-box mt-5 mb-5">
          <p class="mb-4">Vous avez déja un compte! <a class="red" href="/login">LOGIN</a></p>

          <!-- Sign Up Form -->
          <form>
            <div class="mb-4 form-floating">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Adresse Email</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingInput2" placeholder="Your name">
              <label for="floatingInput">Nom</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="text" class="form-control" id="floatingInput3" placeholder="Your name">
              <label for="floatingInput">Prénom</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="email" class="form-control" id="cinInput" placeholder="name@example.com">
              <label for="cinInput">CIN / Passeport</label>
            </div>
            <div class="mb-4 form-floating">
              <input type="email" class="form-control" id="matriculeInput" placeholder="name@example.com">
              <label for="matriculeInput">Matricule</label>
            </div>
            <div class="mb-4 form-floating">
              <label for="selectFormFormation">Formation</label>
              <select class="form-control" id="selectFormFormation">
                <option></option>
                <option>EPI Polytechnique</option>
                <option>EPI Architecture</option>
                <option>EPI Businiss School</option>
              </select>
            </div>
            <div class="mb-4 form-floating">
              <label for="selectFormGroupe">Groupe</label>
              <select class="form-control" id="selectFormGroupe">
                <option></option>
                <option>Groupe A</option>
                <option>Groupe B</option>
                <option>Groupe C</option>
              </select>
            </div>
            <div class="mb-4 form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="mb-4 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I agree with the site's stated <a href="privacy.html">Privacy Policy</a> and <a href="terms.html">Terms & Conditions</a></label>
            </div>
            <button class="form-control-submit-button"  routerLink="/login">Sign up</button>
          </form>
          <!-- end of sign up form -->

        </div> <!-- end of text-box -->
      </div> <!-- end of col -->
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of basic -->

<!-- Details Modal -->
<div id="staticBackdrop" class="modal fade text-center" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="col-lg-8">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/details-modal.jpg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
        <div class="col-lg-4">
          <h3>Goals Setting</h3>
          <hr>
          <p>In gravida at nunc sodales pretium. Vivamus semper, odio vitae mattis auctor, elit elit semper magna ac tum nico vela spider</p>
          <h4>User Feedback</h4>
          <p>Sapien vitae eros. Praesent ut erat a tellus posuere nisi more thico cursus pharetra finibus posuere nisi. Vivamus feugiat</p>
          <ul class="list-unstyled li-space-lg">
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Tincidunt sem vel brita bet mala</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Sapien condimentum sacoz sil necr</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Fusce interdum nec ravon fro urna</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Integer pulvinar biolot bat tortor</div>
            </li>
            <li class="d-flex">
              <i class="fas fa-chevron-right"></i>
              <div class="flex-grow-1">Id ultricies fringilla fangor raq trinit</div>
            </li>
          </ul>
          <a id="modalCtaBtn" class="btn-solid-reg" href="#your-link">Details</a>
          <button type="button" class="btn-outline-reg" data-bs-dismiss="modal">Close</button>
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of modal-content -->
  </div> <!-- end of modal-dialog -->
</div> <!-- end of modal -->
<!-- end of details modal -->




<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="p-small">Copyright © <a href="#your-link">Your name</a></p>
      </div> <!-- end of col -->
      <div class="col-lg-6">
        <p class="p-small">Distributed By<a href="https://themewagon.com/"> Themewagon</a></p>
      </div> <!-- end of col -->
    </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Back To Top Button -->
<button onclick="topFunction()" id="myBtn">
  <img src="/assets/images/up-arrow.png" alt="alternative">
</button>
<!-- end of back to top button -->

